.card {
  width: 200px;
  height: 345px;
  background: rgba(211, 211, 211, 0.199);
  position: absolute;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
}

.c5 {
  background-color: white;
  background-size: auto 95%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../assets/cardBack.webp");
}

.c1 {
  background-color: white;
  background-size: auto 95%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../assets/cardBack.webp");
}

.c2 {
  background-color: white;
  background-size: auto 95%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../assets/cardBack.webp");
}

.c3 {
  background-color: white;
  background-size: auto 95%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../assets/cardBack.webp");
}

.c4 {
  background-color: white;
  background-size: auto 95%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../assets/cardBack.webp");
}

.main:hover .c1 {
  transform: translateX(-100px) rotate(-40deg);
}

.main:hover .c2 {
  transform: translateX(-50px) rotate(-30deg);
}

.main:hover .c3 {
  transform: translateX(0) rotate(-20deg);
}

.main:hover .c4 {
  transform: translateX(50px) rotate(-10deg);
}

.main:hover .c5 {
  transform: translateX(100px) rotate(0deg);
}

.c1:hover {
  transform: translateX(-150px) rotate(0deg) !important;
}

.c2:hover {
  transform: translateX(-100px) rotate(0deg) !important;
}

.c3:hover {
  transform: translateX(-50px) rotate(0deg) !important;
}

.c4:hover {
  transform: translateX(50px) rotate(0deg) !important;
}

.c4:hover {
  transform: translateX(0px) rotate(0deg) !important;
}
