.userInput {
  border: 1.5px solid var(--color-gray-4);
  font-size: 1rem;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.userInputLabel {
  position: absolute;
  left: 15px;
  color: var(--color-gray-4);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.userInput:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--color-dark-main);
  color: var(--color-dark-main);
}

.userInput:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--color-dark-bg);
  padding: 0.2em;
  color: var(--color-dark-main);
}

.userInput:focus ~ button,
input:valid ~ button {
  color: var(--color-dark-main);
  background-color: var(--color-dark-bg);
  padding-left: 8px;
}
