.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* style */
  background-color: #231f50;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid #231f50;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

.cardBack p {
  height: 100%;
  font-size: 0.8rem;
  overflow: auto;
}

/* 스크롤바 스타일링 */
.cardBack p::-webkit-scrollbar {
  width: 6px;
  border-radius: 20px;
}

.cardBack p::-webkit-scrollbar-track {
  background: transparent;
}

.cardBack p::-webkit-scrollbar-thumb {
  background: rgba(177, 177, 255, 0.5);
  border-radius: 20px;
}

.cardBack p::-webkit-scrollbar-thumb:hover {
  background: rgba(177, 177, 255, 0.5);
  border-radius: 20px;
}

