.cardBack {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

/* 스크롤바 스타일링 */
.cardBack p::-webkit-scrollbar {
  width: 6px;
  border-radius: 20px;
}

.cardBack p::-webkit-scrollbar-track {
  background: transparent;
}

.cardBack p::-webkit-scrollbar-thumb {
  background: rgba(177, 177, 255, 0.5);
  border-radius: 20px;
}

.cardBack p::-webkit-scrollbar-thumb:hover {
  background: rgba(177, 177, 255, 0.5);
  border-radius: 20px;
}

